[submodule "neocomplcache.vim"]
	path = neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "vim-markdown"]
	path = vim-markdown
	url = https://github.com/grantbrown/vim-markdown.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/grantbrown/nerdcommenter.git
[submodule "julia-vim"]
	path = julia-vim
	url = https://github.com/grantbrown/julia-vim.git
[submodule "vim-rainbow"]
	path = vim-rainbow
	url = https://github.com/frazrepo/vim-rainbow.git
